.footer {
}

.footer__copyright {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    line-height: 14px;
  }
}
